
.banner-catalogo{
    width: 100%;
}
.zona-catalogo {
    display: flex;
    align-items: flex-start;

    gap: 30px;

    width: 96%;
    margin: 30px auto;
}

.filtros {
   width: 220px;
    flex-shrink: 0;

    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: sticky;
    top: 20px;
    margin-top: 20px;
}

.filtros label {
    display: block;
    margin-bottom: 10px;
}

.catalogoOrden {
    display: grid;
    background-color: rgb(228, 228, 228);
    grid-template-columns: repeat(4, 280px);
    gap: 20px;

    width: fit-content;
    flex: 0 0 auto;

    margin: 0;
    padding: 10px;
  
    
}


