.fondo-pagina {
    background: linear-gradient( rgba(232, 232, 232, 0.80), rgba(232, 232, 232, 0.80) ), url("../Images/Fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 20px;
}

.titulo-seccion {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: rgb(41, 37, 241);
}

.seccion-pagina {
    border-radius: 12px;
}
